*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#outer{
    background-color: green;
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.box{
    height : 5.88%;
    width: 5.88%;
}